<div class="booyah-box col-10 offset-1 text-center">
  <div class="hero2"></div> 
  <br />

  <h1>About <i>~the hat zone~</i></h1>
  <hr />
  <div class="row">
    <div class="col-4">
      <%= image_tag 'me.jpg', class: 'img-fluid devon-pic' %>
    </div>
    <div class="col-8 text-left">
      <p><i>~the hat zone~</i> was a web application created as a fun project by Devon Proudfoot</p>
      <p>See more projects!</p>
      <ul>
        <li><%= link_to 'flixter', 'http://flixter-devon-proudfoot.herokuapp.com' %></li>
      </ul>
      <ul>
        <li><%= link_to 'nomster', 'nomster-devon-proudfoot.herokuapp.com' %></li>
      </ul>
      <ul>
        <li><%= link_to 'splurty', 'splurty-devon-proudfoot.herokuapp.com' %></li>
      </ul>
    </div>
  </div>
</div>